<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .article.Title }} | Bloggo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark-dimmed.min.css"
        integrity="sha512-zcatBMvxa7rT7dDklfjauWsfiSFParF+hRfCdf4Zr40/MmA1gkFcBRbop0zMpvYF3FmznYFgcL8wlcuO/GwHoA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body>

    <button type="button" id="toTop" class="hide"><i class="fas fa-arrow-up"></i></button>

    <!-- Header -->
    {{ template "header" . }}
    <!-- Header -->

    <!-- Content -->
    <div class="container pt-4">
        <div class="row">

            <!-- Right -->
            <div class="col-xl-8 col-md-12 mb-4">

                <div class="row" id="content-results">
                    <div class="d-flex align-items-center justify-content-between">
                        <h1 class="fw-bold">{{ .article.Title }}</h1>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editPostModal">Edit Post</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="editPostModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="editPostModalLabel">Add Post</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="author_id" id="author_id">
                                        <div class="form-group mb-2">
                                            <label for="title">Title</label>
                                            <input type="text" name="title" id="title" class="form-control" required>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="desc">Description</label>
                                            <input type="text" name="desc" id="desc" class="form-control" max="255"
                                                required>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="content">Content</label>
                                            <textarea name="content" id="content" rows="10"
                                                class="form-control"></textarea>
                                            <div class="form-text">Please use Markdown only!</div>
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-primary">Post</button>
                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->

                    <!-- Description -->
                    <div class="col-xl-12">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <i class="fas fa-eye"></i>
                                {{ .article.Views }}
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-comments"></i>
                                {{ .article.Comments | len }}
                            </li>
                            <li class="list-group-item">
                                <i class="text-muted small">{{ .article.Status }}</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-user"></i>
                                {{ .article.AuthorID | getFullNameByID }}
                            </li>
                        </ul>
                    </div>
                    <!-- Description -->

                    <div class="col-xl-12 col-md-12 mb-4 mt-4">
                        <img src="{{ .article.Logo }}" alt="" class="img-fluid my-3">
                        <div id="article-content"></div>
                        <script>
                            document.querySelector("#article-content").innerHTML = "{{ .article.Content | markdown }}"
                        </script>

                        <hr class="my-5">

                        {{ if .article.Comments }}
                        <h3 class="fw-bold">New Comment</h3>
                        {{ else }}
                        <h3 class="fw-bold">No Comment</h3>
                        {{ end }}

                        <!-- Comment -->
                        <div class="row">
                            {{ range .article.Comments }}
                            {{ if .Approved }}
                            <div class="col-xl-12 col-md-12 col-sm-12 mb-2" id="comment-id-{{ .ID }}">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="me-4">{{ .FullName }}</h5>
                                        <div id="message-comment-{{ .ID }}"></div>
                                        <script>
                                            document.getElementById("message-comment-{{ .ID }}").innerHTML = "{{ .Content | markdown }}";
                                        </script>
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item">
                                                <i class="fas fa-clock"></i>
                                                Updated at
                                                {{ .UpdatedAt.Format "Jan 02, 2006" }}
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fas fa-clock"></i>
                                                Created at
                                                {{ .CreatedAt.Format "Jan 02, 2006" }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                            {{ end }}
                        </div>

                        <hr class="mt-5">

                        <form action="/api/v1/comment" method="post" class="mt-4" id="commentForm">
                            <h3>Leave a Comment</h3>
                            <input type="hidden" name="article_id" id="article_id" value="{{ .article.ID }}">
                            <div class="form-group mb-2">
                                <label for="full_name">Full Name</label>
                                <input type="text" name="full_name" id="full_name" class="form-control">
                            </div>
                            <div class="form-group mb-2">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group mb-2">
                                <label for="content">Content</label>
                                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark">Send</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- Right -->

            <!-- Left -->
            <div class="col-xl-4 col-md-12 mb-4">

                <h4>Related Post</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center">
                        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, asperiores?</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, asperiores?</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, asperiores?</a>
                    </li>
                </ul>

                <hr class="my-5">

                <h4>Popular Post</h4>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center">
                        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, asperiores?</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, asperiores?</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, asperiores?</a>
                    </li>
                </ul>
            </div>
            <!-- Left -->

        </div>
    </div>
    <!-- Content -->

    {{ template "footer" . }}

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="/static/assets/js/style.js"></script>

    <script>

        window.onload = function () {
            var o = $("#content-results").offset();
            var sT = o.top - $("#navbar").outerHeight(true);
            window.scrollTo(0, sT);
        }

        $("#commentForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                dataType: "JSON",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.status == "success") {
                        Swal.fire({
                            icon: "success",
                            text: response.message,
                        }).then(result => {
                            if (result.isConfirmed) {
                                window.location.href = "/detail/{{ .article.Slug }}" + "#comment-id-" + response.comment_id;
                            }
                        })
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    alert(status);
                    alert(error);
                }
            });
        })
    </script>
</body>

</html>